<div class="logo text-center">
  <img  width="100px" src="assets/img/specialite.png" alt="">
</div>
  <span class="example-spacer"></span>
    <button mat-flat-button color="primary" class="top-right-button" (click)="openAddEditSpecForm()">Ajouter spécialité</button>
 
      <div class="row justify-content-center">
        <div class="col-md-10">
    
    <mat-card>
    <div class="main-body">
    <mat-form-field>
      <mat-label>Rechercher</mat-label>
      <input matInput (keyup)="applyFilter($event)" #input>
    </mat-form-field>

    <div class="table-container">
      <table mat-table [dataSource]="specialites" matSort>
     
        <ng-container matColumnDef="code">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Code</th>
          <td mat-cell *matCellDef="let specialite">{{ specialite.code }}</td>
        </ng-container>

        <ng-container matColumnDef="libSpec">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Libellé</th>
          <td mat-cell *matCellDef="let specialite">{{ specialite.libSpec }}</td>
          
        </ng-container>
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Actions</th>
          <td mat-cell *matCellDef="let specialite">
            <button mat-icon-button color="primary" (click)="openEditForm(specialite)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="OndeleteSpecialite(specialite.codeSpec)">
              <mat-icon>delete</mat-icon>
            </button>
            <div class="example-button-row"></div>
          
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let specialite; columns: displayedColumns;"></tr>
       
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
    </div>
  </div>
