<div mat-dialog-title></div>
<mat-toolbar color="primary">
  <h1>Ajouter/Modifier Dépôt</h1>
</mat-toolbar>

<form [formGroup]="depotForm" (ngSubmit)="onFormSubmit()">
  <div mat-dialog-content class="content">
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Code Dépôt</mat-label>
        <input matInput formControlName="codeDep" readonly>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Libellé</mat-label>
        <input matInput formControlName="libDep">
        <mat-error *ngIf="depotForm.get('libDep')?.hasError('required')">Ce champ est obligatoire</mat-error>
        
      </mat-form-field>
    </div>
  </div>

  <div mat-dialog-actions class="action">
    <button mat-raised-button [mat-dialog-close]="false">Retour</button>
    <button mat-raised-button color="primary" type="submit">{{ data ? 'Modifier' : 'Enregistrer' }}</button>
  </div>
</form>