<mat-card>
    <mat-toolbar color="primary">
      <h1>Formulaire Facture</h1>
      <span class="exemple-spacer"></span>
      <button routerLink="/liste_facture" mat-raised-button color="accent">
        Liste des Factures
      </button>
    </mat-toolbar>
    <mat-card-content>
      <div class="facture-form m-3 p-4">
        <form [formGroup]="factureForm">
          <div class="row">
            <mat-form-field appearance="fill">
              <mat-label for="code">Code</mat-label>
              <input matInput type="text" id="code" formControlName="code" [readonly]="true">
              <mat-error *ngIf="factureForm.get('code')?.hasError('required')">Ce champ est obligatoire</mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Date</mat-label>
              <input matInput [matDatepicker]="picker" placeholder="Date" formControlName="date">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <mat-error *ngIf="factureForm.get('date')?.hasError('required')">Ce champ est obligatoire</mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Client</mat-label>
              <mat-select formControlName="client" (selectionChange)="onClientSelectionChange($event.value)">
                <ng-container *ngFor="let client of getUniqueClients()">
                  <mat-option [value]="client">{{ client }}</mat-option>
                </ng-container>
              </mat-select>
              <mat-error *ngIf="factureForm.get('client')?.hasError('required')">Ce champ est obligatoire</mat-error>
            </mat-form-field>
          </div>
          <mat-card>
            <div class="row">
              <div *ngIf="selectedClientInterventions.length > 0">
                <table mat-table [dataSource]="selectedClientInterventions" class="mat-elevation-z8">
                  <ng-container matColumnDef="select">
                    <th mat-header-cell *matHeaderCellDef>Coche</th>
                    <td mat-cell *matCellDef="let row">
                      <mat-checkbox [checked]="row.selected" (change)="toggleRowSelection(row, $event)"></mat-checkbox>
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="code">
                    <th mat-header-cell *matHeaderCellDef>Code</th>
                    <td mat-cell *matCellDef="let intervention">{{ intervention.code }}</td>
                  </ng-container>
                  <ng-container matColumnDef="dateDeb">
                    <th mat-header-cell *matHeaderCellDef>Date Début</th>
                    <td mat-cell *matCellDef="let intervention">{{ intervention.dateDeb }}</td>
                  </ng-container>
                  <ng-container matColumnDef="dateFin">
                    <th mat-header-cell *matHeaderCellDef>Date Fin</th>
                    <td mat-cell *matCellDef="let intervention">{{ intervention.dateFin }}</td>
                  </ng-container>
                  <ng-container matColumnDef="duree">
                    <th mat-header-cell *matHeaderCellDef>Durée</th>
                    <td mat-cell *matCellDef="let intervention">{{ intervention.duree }}</td>
                  </ng-container>
                  <ng-container matColumnDef="observation">
                    <th mat-header-cell *matHeaderCellDef>Observation</th>
                    <td mat-cell *matCellDef="let intervention">{{ intervention.observation }}</td>
                  </ng-container>
                  <ng-container matColumnDef="montantHT">
                    <th mat-header-cell *matHeaderCellDef>Montant HT</th>
                    <td mat-cell *matCellDef="let intervention">{{ intervention.montantHT }}</td>
                  </ng-container>
                  <tr mat-header-row *matHeaderRowDef="['select', 'code', 'dateDeb', 'dateFin', 'duree', 'observation', 'montantHT']"></tr>
                  <tr mat-row *matRowDef="let row; columns: ['select', 'code', 'dateDeb', 'dateFin', 'duree', 'observation', 'montantHT']"></tr>
                </table>
              </div>
            </div>
          </mat-card>
          <div class="row">
            <mat-form-field appearance="fill">
              <mat-label>Total HT</mat-label>
              <input matInput type="number" formControlName="totalHT">
              <mat-error *ngIf="factureForm.get('totalHT')?.hasError('required')">Ce champ est obligatoire</mat-error>
              <mat-error *ngIf="factureForm.get('totalHT')?.hasError('min')">La valeur doit être supérieure ou égale à 0</mat-error>
            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field appearance="fill">
              <mat-label>TVA</mat-label>
              <input matInput type="number" formControlName="tva">
              <mat-error *ngIf="factureForm.get('tva')?.hasError('required')">Ce champ est obligatoire</mat-error>
              <mat-error *ngIf="factureForm.get('tva')?.hasError('min')">La valeur doit être supérieure ou égale à 0</mat-error>
            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field appearance="fill">
              <mat-label>Total TTC</mat-label>
              <input matInput type="number" formControlName="totalTTC">
              <mat-error *ngIf="factureForm.get('totalTTC')?.hasError('required')">Ce champ est obligatoire</mat-error>
              <mat-error *ngIf="factureForm.get('totalTTC')?.hasError('min')">La valeur doit être supérieure ou égale à 0</mat-error>
            </mat-form-field>
          </div>
        </form>
      </div>
    </mat-card-content>
    <mat-card-footer>
      <div style="margin:2%;text-align: right;">
        <button *ngIf="!isUpdateActive" (click)="onFormSubmit()" mat-raised-button color="accent">Enregistrer</button>
        <button *ngIf="isUpdateActive" (click)="modifier()" mat-raised-button color="accent">Modifier</button>
      </div>
    </mat-card-footer>
  </mat-card>