<div mat-dialog-title></div>
<mat-toolbar color="primary">
  
<h1>Ajouter/Modifier Spécialité</h1>
</mat-toolbar>
<form [formGroup]="specForm" (ngSubmit)="onFormSubmit()"   >
<div mat-dialog-content class="content">
  
        <div class="row">
            <mat-form-field appearance="outline">
              <mat-label>Code Cause</mat-label>
              <input matInput formControlName="code" readonly>
            </mat-form-field>
          </div>
        <mat-form-field appearance="fill">
            <mat-label>libSpec</mat-label>
            <input matInput formControlName="libSpec">
            <mat-error *ngIf="specForm.get('libSpec')?.hasError('required')">Ce champ est obligatoire</mat-error>
        </mat-form-field>
        </div>
       

<div mat-dialog-actions class="action">
    <button mat-raised-button [mat-dialog-close]="false">Retour</button>
    <button mat-raised-button color="primary" type="submit" >{{data ? 'Modifier':'Enregistrer' }}</button>
</div>
</form>