<mat-card>
    <mat-toolbar color="primary">
        <h1>Formulaire contrat</h1>
        <span class="exemple-spacer"></span>
        <button routerLink="/liste_contrat" mat-raised-button color="accent">
          liste contrat
        </button>
      </mat-toolbar>
    <mat-card-content>
        <div class="contrat-form m-3 p-4">
            <form [formGroup]="contratForm">
                <div class="row">
                  
                        <mat-form-field appearance="fill">
                            <mat-label for="code">Code</mat-label>
                            <input matInput type="text" id="code" formControlName="code" [readonly]="true">
                            <mat-error *ngIf="contratForm.get('code')?.hasError('required')">Ce champ est obligatoire</mat-error>
                        </mat-form-field>
                  
                   
                        <mat-form-field appearance="fill">
                            <mat-label>nbInterMois</mat-label>
                            <input matInput type="number" formControlName="nbInterMois">
                            <mat-error *ngIf="contratForm.get('nbInterMois')?.hasError('required')">Ce champ est obligatoire</mat-error>
                            <mat-error *ngIf="contratForm.get('nbInterMois')?.hasError('min')">La valeur doit être supérieure ou égale à 1</mat-error>
    <mat-error *ngIf="contratForm.get('nbInterMois')?.hasError('max')">La valeur doit être inférieure ou égale à 11</mat-error>

                        </mat-form-field>
               
                 
                        <mat-form-field appearance="fill">
                            <mat-label>nbInterAnnee</mat-label>
                            <input matInput type="number" formControlName="nbInterAnnee">
                            <mat-error *ngIf="contratForm.get('nbInterAnnee')?.hasError('required')">Ce champ est obligatoire</mat-error>
                            <mat-error *ngIf="contratForm.get('nbInterAnnee')?.hasError('min')">La valeur doit être supérieure ou égale à 1</mat-error>
                        </mat-form-field>
              
                    
                 
                        <mat-form-field appearance="fill">
                            <mat-label>dateDebut</mat-label>
                            <input matInput [matDatepicker]="picker1" placeholder="dateDebut" formControlName="dateDebut">
                            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                            <mat-datepicker #picker1></mat-datepicker>
                            <mat-error *ngIf="contratForm.get('dateDebut')?.hasError('required')">Ce champ est obligatoire</mat-error>
                                    
                        <mat-error *ngIf="contratForm.get('dateDebut')?.hasError('dateRangeError')">La date de début doit être antérieure à la date de fin</mat-error>
                        <mat-error *ngIf="contratForm.get('dateDebut')?.hasError('dateEqualityError')">La date de début ne peut pas être égale à la date de fin</mat-error>
                          </mat-form-field>
           
           
                        <mat-form-field appearance="fill">
                            <mat-label>dateFin</mat-label>
                            <input matInput [matDatepicker]="picker2" placeholder="dateFin" formControlName="dateFin">
                            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                            <mat-datepicker #picker2></mat-datepicker>
                            <mat-error *ngIf="contratForm.get('dateFin')?.hasError('required')">Ce champ est obligatoire</mat-error>
                            <mat-error *ngIf="contratForm.get('dateFin')?.hasError('dateRangeError')">La date de fin doit être postérieure à la date de début</mat-error>
                          </mat-form-field>
                      
                        
                            <mat-form-field appearance="fill">
                                <mat-label>mtForfaitaire</mat-label>
                                <input matInput type="number" formControlName="mtForfaitaire">
                                <mat-error *ngIf="contratForm.get('mtForfaitaire')?.hasError('required')">Ce champ est obligatoire</mat-error>
                                <mat-error *ngIf="contratForm.get('mtForfaitaire')?.hasError('required')">Ce champ est obligatoire</mat-error>
                                <mat-error *ngIf="contratForm.get('mtForfaitaire')?.hasError('min')">Ce champ ne doit pas être négatif</mat-error>
                            </mat-form-field>
                     
                        <mat-form-field appearance="fill">
                            <mat-label>Client</mat-label>
                            <mat-select formControlName="client">
                                <mat-option *ngFor="let client of clients" [value]="client.nom">{{ client.nom }}</mat-option>
                            </mat-select>
                            <mat-error *ngIf="contratForm.get('client')?.hasError('required')">Ce champ est obligatoire</mat-error>
                        </mat-form-field>
                        
                        
                 
                </div>
            </form>
            </div>
    </mat-card-content>
    <mat-card-footer>
        <div style="margin:2%;text-align: right;">
          
            <button *ngIf="!isUpdateActive" (click)="onFormSubmit()" mat-raised-button color="accent">Enregistrer</button>
            <button *ngIf="isUpdateActive" (click)="modifier()" mat-raised-button color="accent">Modifier</button>
        </div>
    </mat-card-footer>
</mat-card>