<div mat-dialog-title></div>
<mat-toolbar color="primary">
  <h1>Ajouter/Modifier Catégorie de Pièce</h1>
</mat-toolbar>

<form [formGroup]="categoriePieceForm" (ngSubmit)="onFormSubmit()">
  <div mat-dialog-content class="content">
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Code Catégorie</mat-label>
        <input matInput formControlName="codeCategorie" readonly>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Designation</mat-label>
        <input matInput formControlName="desCategorie">
        <mat-error *ngIf="categoriePieceForm.get('desCategorie')?.hasError('required')">Ce champ est obligatoire</mat-error>
      </mat-form-field>
    </div>
  </div>

  <div mat-dialog-actions class="action">
    <button mat-raised-button [mat-dialog-close]="false">Retour</button>
    <button mat-raised-button color="primary" type="submit">{{ data ? 'Modifier' : 'Enregistrer' }}</button>
  </div>
</form>